// Display
@mixin flex($justfy, $align) {
	display: flex;
	justify-content: $justfy;
	align-items: $align;
}

@mixin grid($width) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
	gap: 1rem;
}

// Positions
@mixin translate {
	transform: translate(-50%, -50%);
}

@mixin background($url, $size, $attachment) {
	background: url($url) no-repeat;
	background-position: center;
	background-size: $size;
	background-attachment: $attachment;
}

@mixin linear-background($url, $size, $attachment, $linear) {
	background: linear-gradient($linear), url($url) no-repeat;
	background-position: center;
	background-size: $size;
	background-attachment: $attachment;
}

@mixin relative($dir, $y, $x) {
	position: relative;
	@if $dir == "tl" {
		top: $y;
		left: $x;
	}
	@if $dir == "tr" {
		top: $y;
		right: $x;
	}
	@if $dir == "bl" {
		bottom: $y;
		left: $x;
	}
	@if $dir == "br" {
		bottom: $y;
		right: $x;
	}
}

@mixin absolute($dir, $y, $x) {
	position: absolute;
	@if $dir == "tl" {
		top: $y;
		left: $x;
	}
	@if $dir == "tr" {
		top: $y;
		right: $x;
	}
	@if $dir == "bl" {
		bottom: $y;
		left: $x;
	}
	@if $dir == "br" {
		bottom: $y;
		right: $x;
	}
}

@mixin fixed($dir, $y, $x) {
	position: fixed;
	@if $dir == "tl" {
		top: $y;
		left: $x;
	}
	@if $dir == "tr" {
		top: $y;
		right: $x;
	}
	@if $dir == "bl" {
		bottom: $y;
		left: $x;
	}
	@if $dir == "br" {
		bottom: $y;
		right: $x;
	}
}

@mixin sticky($dir, $y, $x) {
	position: sticky;
	@if $dir == "tl" {
		top: $y;
		left: $x;
	}
	@if $dir == "tr" {
		top: $y;
		right: $x;
	}
	@if $dir == "bl" {
		bottom: $y;
		left: $x;
	}
	@if $dir == "br" {
		bottom: $y;
		right: $x;
	}
}

@mixin width($Width) {
	@if $Width == "xlg" {
		@media (min-width: 1200px) {
			@content;
		}
	}
	@if $Width == "lg" {
		@media (max-width: 1200px) {
			@content;
		}
	}
	@if $Width == "xmd" {
		@media (max-width: 992px) {
			@content;
		}
	}
	@if $Width == "md" {
		@media (max-width: 792px) {
			@content;
		}
	}
	@if $Width == "xsm" {
		@media (max-width: 576px) {
			@content;
		}
	}
	@if $Width == "sm" {
		@media (max-width: 390px) {
			@content;
		}
	}
}

@function get($att1) {
	@return var(--#{$att1});
}

@function get2($att1, $att2) {
	@return var(--#{$att1}) var(--#{$att2});
}

@function get3($att1, $att2, $att3) {
	@return var(--#{$att1}) var(--#{$att2}) var(--#{$att3});
}

@function get4($att1, $att2, $att3, $att4) {
	@return var(--#{$att1}) var(--#{$att2}) var(--#{$att3}) var(--#{$att4});
}
