// Set The Global Variables
:root {
	--white: #fff;
	--black: #000;
	--main-color: #00a8ff;
	--second-color: #e91e63;
	--light-text: #aaa;
	--dark-text: #171d21;
	--light-bg: #f8f8f8;
	--dark-bg: #171d21;
	--border: 1px solid var(--light-text);
	--box-shadow: 5px 5px 15px var(--main-color);
}
